base_url					=http://localhost/
app_name					=
app_mode					=development
app_timezone				=Asia/Jakarta
app_locale                  =id

database_hostname           =localhost
database_driver_prefix      =mysql
database_username           =root
database_password           =
database_dbname             =

encrypt_keyphrase           =
encrypt_algo_method         =aes-256-cbc

user_login_cookie_name      =
user_login_cookie_expire    =
user_forgot_cookie_name     =
user_forgot_cookie_expire   =

mailer_hostname             =smtp.gmail.com
mailer_username             =
mailer_password             =
mailer_portnumber           =465
mailer_sendername			=""