@font-face {
	font-family: "inter";
	src: url("../fonts/inter-var-font.ttf") format("truetype");
	font-size: 1rem;
	font-smooth: always;
	text-rendering: optimizeLegibility;
}

*{
	box-sizing:border-box;
	outline:none;
    font-family: "inter",sans-serif;
	line-height:1.5 !important;
}

body{
	width:100%;
	height:100dvh;
}

